h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
    background-color: transparent;
    padding: 30px;
    
}


section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
    
}

article {
    border: 1px solid rgb(145, 56, 56);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    flex: 250px;
    background-color: azure;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}



.bookmark {
    width: 0;
    height: 0;
    border-top: 30px solid rgb(238, 232, 232);
    border-right: 20px solid rgb(232, 225, 225);
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(237, 227, 227);
    

}

.bookmark:hover {

    width: 0;
    height: 0;
    border-top: 30px solid rgb(23, 1, 1);
    border-right: 20px solid rgb(40, 34, 34);
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(54, 53, 53);
}

/*article:nth-of-type(2) {
    flex:2;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    

}

   


.tags {
    border: 1px solid rgb(212, 222, 232);
    border-radius: 15% 15% 15% 15% ;
    width: min-content;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    display: inline-block;
    font-size: x-small;
}


footer {
    display: flex;
    font-size: larger;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    padding-top: 30px;
    margin-top: 10px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: transparent;
   
  text-decoration: none;
   word-spacing: 4rem;
    z-index: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 

#buttons li {
    display: inline-block;
 list-style: none;
 padding: 5px;
 margin: 5px;
 border: 5px lighgray solid;
 border-radius: 15px;
 background: lightgray;
 
}



a {
    text-decoration: none;
}

a:hover {
    color: red;
    
}